<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <title>Rommel Rico</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'bootstrap/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootswatch.min.css' %}">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="{% static 'bootstrap/js/html5shiv.js' %}"></script>
            <script src="{% static 'bootstrap/js/respond.min.js' %}"></script>
        <![endif]-->
    </head>

    <body>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="http://rommelrico.com/">Home</a></li>
                        <li><a href="#">Philosophies</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Labs<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Project 1</a></li>
                                <li><a href="#">Project 2</a></li>
                                <li><a href="#">Project 3</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="http://blog.rommelrico.com/" class="dropdown-toggle" data-toggle="dropdown">Blog<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://blog.rommelrico.com/">Home</a></li>
                                <li><a href="http://blog.rommelrico.com/ghost/editor/">Editor</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Bio</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </div><!-- /.navbar navbar-default -->
        <div class="container">
            <div class="jumbotron">
                <h1>Hello World!</h1>
                <p>My name is Rommel Rico. I seek to become a better programmer so I can help others.</p>
                <p>This website is where I store some of my humble projects or where I experiment with different technologies. I also try to blog occasionally to gather my thoughts. Should you wish to contact me for any reason, my resume and other personal information is also here. I like turtles.</p>
            </div>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Made by <a href="http://rommelrico.com">Rommel Rico</a>. Contact him at <a href="mailto:me@rommelrico.com">me@rommelrico.com</a>.</p>
                        <p>All content licenced under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/ie/">Creative Commons</a>. Code under <a href="http://opensource.org/licenses/MIT">MIT Licence</a>.</p>
                    </div>
                </div>
            </footer>
        </div><!-- /.container -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'bootstrap/js/jquery.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>

